<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= product.price %>
  </td>
  <td>

    <%= line_items.quantity %>

  </td>
  <td>
    <%= product.price * line_items.quantity %>
  </td>
</tr>
